*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Dancing Script', 'cursive';
    font-family: 'PT Serif', serif;
    box-sizing: border-box;
}
footer{
    text-align: center;
}
.grandchild p {
    padding: 7px;
}


nav{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    
}


label.logo{
    color: white;
    font-size: 45px;
    font-weight: bold;
    line-height: 80px;
    padding: 0 100px;
    
}

nav a{
    float: right;
    padding-right: 40rem;
    
    
    
}

nav a{
    color: white;
    position: relative;
 /* padding: 3rem;  */
font-size: larger;
font-weight: 700;
padding: 0 10px;

/* display: inline-block;
 line-height: 5px;
 margin: 0 5px; */


}
nav a:hover{
    
    color: yellow;
}

/* this is the unlderline link code */
nav a:after{
content:;
position: absolute;
background-color: yellow;
height: 3px;
width: 0;
left: 0;
bottom: -10px;
transition: 0.5s;
}

nav a:hover::after{
    width: 100%;
}
.para{
    text-align: center;
}

/* Resturant Image Section */

.resturant{

width: 100%;
height: 100vh;
        
background-image: url("WhatsApp\ Image\ 2023-03-20\ at\ 11.59.11\ PM.jpeg");
background-size: cover; 
background-repeat: no-repeat;


/* animation: change 20s linear infinite; */
}
.resturant .heading{
    text-align: center;
    padding-top: 20rem;
    font-size: 8rem;
    color: #ffffff;

}
.resturant .para{
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
padding-left: 70rem;
}
/* .resturant .heading .para{ */
    /* animation: change 5s linear infinite; */
/* } */
/* 
@keyframes change{
    0%{
        
    background-image: url("https://img.freepik.com/free-photo/vegetables-set-left-black-slate_1220-685.jpg?size=626&ext=jpg&ga=GA1.1.192231667.1676409381&semt=sph");
    background-size: cover; 
    background-repeat: no-repeat;
}
    33%{
        background-image: url("https://img.freepik.com/free-photo/pasta-spaghetti-with-shrimps-sauce_1220-5072.jpg?size=626&ext=jpg&ga=GA1.1.192231667.1676409381&semt=sph");
        background-size: cover;
        background-repeat: no-repeat;
    }
    66%{
        background-image: url("https://t3.ftcdn.net/jpg/02/26/34/86/240_F_226348609_tvAQY99H6VTNwaeVNvCEmDte627VDTyw.jpg");
        background-size: cover;   
        background-repeat: no-repeat;
    }
} */


.checkbtn{
    color: #ffffff;
    float: right;
    padding-top: 2rem;
    cursor: pointer;
    margin-right: 3rem;
    
    font-size: xx-large;
    font-weight: bold;
    display: none;
}
#check{
    display: none;
}
/* WELCOME SCREEN M Q  */
.welcomehead{
    color: black;
    font-size: 80px;
    background-color: rgba(255, 255, 0, 0.774);
}
.aboutushead{
    text-align: center;
    font-size: 50px;
}

.parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


.welcome{
    text-align: center;
    
}
p{
    color: gray;
    /* font-family: 'HelveticaNeueLTPro', sans-serif; */
    font-size: smaller;
}
.grandchild h3{
    text-align: center;
    
}
.grandchild p {
    text-align: center;
}
/* testimonials section  */
.testimonials {
    background-color: white;
    padding: 50px;
  }
  
  .slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slide {
    scroll-snap-align: start;
    width: 100%;
    flex-shrink: 0;
    margin-right: 20px;
    text-align: center;
  }
  
  .slide img {
    border-radius: -10%;
    width: 239px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;  
  }
  
  .slide p {
    font-size: 18px;
    font-style: italic;
    color: black;
  }
  /* menusection */
  .ourmenu{
    background-color: rgba(255, 255, 0, 0.774);
    text-align: center;
    font-size: 70px;
  }
  .menu{
    display: flex;
    justify-content: space-evenly;

}
.menusum h3{
    font-size: 50px;
    text-align: center;

   
}
.menusum p{
    color: black;
    font-style: bold;

}
.contactus{
    background-color: rgba(255, 255, 0, 0.774);
    text-align: center;
    font-size: 50px;
}
/* form css */

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: orangered;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: yellow;
} 
/* form css end  */








  





/* 320px — 480px: Mobile devices. */

@media (min-width: 320px) and (max-width: 1024px) {
    .welcomehead{
        color: black;
        font-size: 50px;
        background-color: rgba(255, 255, 0, 0.774);
    }
    .aboutushead{
        font-size: 30px;
    }
    .ourmenu{
        font-size: 50px;
    }
    .contactus{
        font-size: 50px;
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
    }
    form {
        max-width: 100%;
    }
    .parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    nav{
        height: 7vh;

    }
    
    
    .para {
        text-align: center;
    }
    
   

    label.logo{
        
        font-size: 36px;
        padding:25px 0px;

    }
    .checkbtn{
        display: block;
    }





#check:checked~ul{
    left: 0;
}
.resturant .heading{
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
.resturant .para{
    font-size: 16px;
    padding: 10px 7px 0px 0px;
}
.menuchild{
    justify-items: center;
    align-items: center;
}
}
/* welcome page m q  */




/* 481px — 768px: iPads, Tablets. */

@media (min-width: 481px) and (max-width: 768px) {
    form {
        max-width: 100%;
    }
    .breakfast{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        justify-items: center;
        gap: 10px;
    
    }
    .parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    nav{
        height: 7vh;

    }

    label.logo{
        
        font-size: 36px;
        padding:25px 0px;

    }
    .checkbtn{
        display: block;
    }
    
    
}



#check:checked~ul{
    left: 0;
}
.resturant .heading{
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
.resturant .para{
    font-size: 16px;
    padding: 10px 7px 0px 0px;
}
    /* welcome page m q  */
   

    



/* 769px — 1024px: Small screens, laptops. */
@media (min-width: 769px) and (max-width: 1024px) {
    .breakfast{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        justify-items: center;
        gap: 10px;
    
    }
    .parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
  
    label.logo{
        
        font-size: 36px;
        padding:25px 0px;

    }
    
      

    
/* margin: 60px 10px;
line-height: 2px; */
}
nav a{
    display: inline;
}

.resturant .heading{
    font-size: 70px;
    justify-content: center;
    align-items: center;
}
/* 
.checkbtn{
    display: none;
} */
/* welcome page m q  */



/* 1025px — 1200px: Desktops, large screens. */

@media (min-width: 1025px) and (max-width: 1200px) {
    
    
}
