.testimonials {
    background-color: burlywood;
    padding: 50px;
  }
  
  .slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slide {
    scroll-snap-align: start;
    width: 100%;
    flex-shrink: 0;
    margin-right: 20px;
    text-align: center;
  }
  
  .slide img {
    border-radius: -10%;
    width: 239px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;  
  }
  
  .slide p {
    font-size: 18px;
    font-style: italic;
    color: brown;
  }
  