*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

.child{
    width: 100%;
    height: 64vh;
    /* background: black; */
    background-image: url(https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.4083449862883!2d67.10794441447663!3d24.815705353162528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33c786488c9e3%3A0x1b8b08960b30d560!2sKorangi%20Crossing%20Rd%2C%20Karachi%20City%2C%20Sindh%2C%20Pakistan!5e0!3m2!1sen!2s!4v1678041581348!5m2!1sen!2s);
    background-size: cover;
    opacity: 0.5;

}
.child1{
    width: 100%;
    height: 85vh;
    background: black;
   background-image: url(https://thumbs.dreamstime.com/b/eating-healthy-vegetable-food-black-background-fresh-organic-peppers-tomato-cabbage-other-meals-empty-plate-copy-space-92977349.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1    
    
 }

.container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -10%);
   background-color: white;
   width: 70%;
   height: 95vh;
  
}
.us{
   color: blue;
  position: relative;
  left: 30%;
}
/* copy */ 
    .contactus{
        background-color: rgba(255, 255, 0, 0.774);
        text-align: center;
        font-size: 10px;

    }
    /* form css */
    
    form {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;
        font-family: Arial, sans-serif;

    }
    
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: orangered;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: yellow;
    } 

    
   
    /* 320px — 480px: Mobile devices. */
    
    @media (min-width: 320px) and (max-width: 1024px) {
        
        form {
            max-width: 100%;
        }
        .us {
            color: blue;
            position: relative;
            left: 3%;
        }
        
    }
   
    
    /* 481px — 768px: iPads, Tablets. */
    
    @media (min-width: 481px) and (max-width: 768px) {
        form {
            max-width: 100%;
        }
        .us {
            color: blue;
            position: absolute;
            left: 25%;
            top: -1%;
        }
 }